<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<button class="" id="playAgain" type="image" width="120" height="70">Play Again</button>

<div id="gameTable">
    <table>

    <tr>
        <td><button class="moveButton" id="b0" onclick="moveHere(0)">Move to Here</button></td>
        <td><button class="moveButton" id="b1" onclick="moveHere(1)">Move to Here</button></td>
        <td><button class="moveButton" id="b2" onclick="moveHere(2)">Move to Here</button></td>
        <td><button class="moveButton" id="b3" onclick="moveHere(3)">Move to Here</button></td>
    </tr>

    <tr>
        <td class="columnOfCards" id="c0">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
    </tr>
    </table>
    </div>

<button id="dealButton" type="image" width="150" height="70">Deal</button>

<div id="error">

</div>
<div id="lower">

    <p id="Score">Score:  0</p>
    <p><label id="prompt"></label><label id="colNum"></label></p>
</div>

<script>

function getUrlVars() {
var vars = {};
var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
vars[key] = value;
});
return vars;
}

var tempURL = "";
var game;
if(getUrlVars()["Standard"] == "true"){
var standard = true;
tempURL = "http://localhost:8080/standardGame";
} else {
var standard = false;
tempURL = "http://localhost:8080/spanishGame";
}

$.getJSON(tempURL, function( data ) {
    display(data);
    game = data;
});

function display(game) {

    $( '.columnOfCards .cardLocation' ).html("");
    var indexOflastCard = -1;
    if(standard == true){
        var str = "<div class='card'><img src='/assets/cards/";
    }
    else{
        var str = "";
    }
    for(var i = 0; i<4; i++){
        indexOflastCard = game.cols[i].length-1;
        $.each(game.cols[i], function( key, val ) {
            if(standard){
            str = "<div class='card'><img src='/assets/cards/" + val.value + val.suit.charAt(0).toLowerCase() + ".png' onclick='removeCard("+i+")'></div>";

            } else{
            str = "<div class='card'><img src='/assets/SpanishCards/" + val.value + val.suit.charAt(0).toLowerCase() + ".png' onclick='removeCard("+i+")'></div>";
            }
            $( '#c'+i+' .l'+key ).html(str);
            if(key == indexOflastCard){
                if(standard){
                    str = "<div class='card'><img src='/assets/cards/" + val.value + val.suit.charAt(0).toLowerCase() + ".png' onclick='removeCard("+i+")'></div>";
                }else{
                str = "<div class='card'><img src='/assets/SpanishCards/" + val.value + val.suit.charAt(0).toLowerCase() + ".png' onclick='removeCard("+i+")'></div>";

                }
            }
            $( '#c'+i+' .l'+key ).html(str);
        });
    }
    var score = document.getElementById("Score");
    score.innerHTML = "Score: " + game.scoreBoard.score;
}


$("#playAgain").click(function(){
    $("#Score").html("Score: 0");
    $( '.columnOfCards .cardLocation' ).html("");
    $.getJSON(tempURL, function( data ) {
        display(data);
        game = data;
    });
     console.log(game);
});




$("#dealButton").click(function(){
    $.ajax({
      type: "POST",
      url: "/dealGame",
      data: JSON.stringify(game),
      success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
      contentType:"application/json; charset=utf-8",
      dataType:"json",
    });
});


function removeCard(colNumber){
    $.ajax({
        type: "POST",
        url: "/removeCard/"+colNumber,
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
}

function moveHere(column){

    if(document.getElementById("prompt").innerHTML == "Select a card to move to column: "){
        //user clicks on column to move

        //move card to column
        var colFrom = column;
        var colTo = document.getElementById("colNum").innerHTML;
        colTo = colTo - 1;
        if(colFrom == colTo){
            //move cancelled
            document.getElementById("prompt").innerHTML = "Move cancelled.";
            document.getElementById("colNum").innerHTML = "";
            for(i = 0; i < 4; i++){
                bId = "b" + i;
                document.getElementById(bId).innerHTML = "Move to Here";
            }
            bId = "b" + column;
            document.getElementById(bId).innerHTML = "Move to Here";

        }else{
            $.ajax({
                type: "POST",
                url: "/moveCard/"+colFrom+"/"+colTo,
                data: JSON.stringify(game),
                success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
                    game = data;
                    display(data);},
                contentType:"application/json; charset=utf-8",
                dataType:"json",
            });

            for(i = 0; i < 4; i++){
                bId = "b" + i;
                document.getElementById(bId).innerHTML = "Move to Here";
            }
            document.getElementById("prompt").innerHTML = "Card moved.";
            document.getElementById("colNum").innerHTML = "";
        }
    }else{
        //user clicks on column
        //prompt user
        document.getElementById("prompt").innerHTML = "Select a card to move to column: ";
        bId = "b" + column;
        document.getElementById(bId).innerHTML = "Click to Cancel";

        for(i = 0; i < 4; i++){
            testId = "b" + i;
            if(document.getElementById(testId).innerHTML == "Move to Here"){
                document.getElementById(testId).innerHTML = "Move From Here";
            }
        }
        column = column + 1;
        document.getElementById("colNum").innerHTML = column;
        //now in move mode
    }
}

$("#moveButton").click(function(){
    var colFrom = $("#from_col").val();
    var colTo = $("#to_col").val();
    $.ajax({
        type: "POST",
        url: "/moveCard/"+colFrom+"/"+colTo,
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
});


</script>



</body>
</html>