<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aces Up Menu</title>
    <link rel = "stylesheet" href = "assets/css/custom.css">

</head>
<body>
<h1>Select the type of deck</h1>


    <div class = "deckselect">
        <label>Standard Deck</label>
        <br>
        <a href = "AcesUp?Standard=true"><img src = "assets/cards/cardback.jpg" alt = "standard" width = "100%"></a>
    </div>
    <div class = "deckselect">
        <label>Spanish Deck</label>
        <br>
        <a href = "AcesUp?Standard=false"><img src = "assets/SpanishCards/spanishcardback.jpg" alt = "spanish" width = "100%"></a>
    </div>

</body>
</html>